# **Pre-Processing Data ðŸš€ðŸš€ðŸš€**

##### **Import Library**
Pada bagian ini, kita akan mengimpor library yang diperlukan untuk proses pre-processing
 data, seperti pandas untuk manipulasi data, numpy untuk operasi numerik, dan library lain yang relevan sesuai kebutuhan analisis.

In [12]:
import pandas as pd
import numpy as np

##### **Load Dataset**
Pada bagian ini, kita akan memuat dataset yang akan digunakan untuk analisis. Pastikan file dataset sudah tersedia di direktori kerja, lalu gunakan fungsi yang sesuai (misal: `pd.read_csv`) untuk membaca data ke dalam DataFrame pandas.

In [15]:
# Load dataset ke dalam DataFrame
# Ganti 'nama_file.csv' dengan nama file dataset yang sesuai
df = pd.read_csv('../data/data_untuk_preprocessing.csv')

# Tampilkan 5 baris pertama dan jumlah baris data
display(df.head())
print(f"Jumlah baris data: {df.shape[0]}")

,title,address,url,reviewId,stars,name,reviewUrl,text,publishedAtDate,reviewDetailedRating/Layanan,reviewDetailedRating/Makanan,reviewDetailedRating/Suasana
0,Solaria - Lampung City Mall,"Jl. Yos Sudarso No.44, Tlk. Betung, Kec. Bumi ...",https://www.google.com/maps/search/?api=1&quer...,Ci9DQUlRQUNvZENodHljRjlvT21wSmFIbzRWa053TWtObF...,3,CERMIN by Heno Soeroso,https://www.google.com/maps/reviews/data=!4m8!...,Pu Yung hai rasanya kaya bakwan dikasih saos a...,2025-05-29T03:10:20.007Z,3.0,3.0,3.0
1,Solaria - Lampung City Mall,"Jl. Yos Sudarso No.44, Tlk. Betung, Kec. Bumi ...",https://www.google.com/maps/search/?api=1&quer...,ChdDSUhNMG9nS0VJQ0FnTURvMUozeHl3RRAB,5,Rudy Ramadani,https://www.google.com/maps/reviews/data=!4m8!...,Makan disini beberapa menu makananya sangat en...,2025-04-22T07:03:28.979Z,2.0,5.0,5.0
2,Solaria - Lampung City Mall,"Jl. Yos Sudarso No.44, Tlk. Betung, Kec. Bumi ...",https://www.google.com/maps/search/?api=1&quer...,ChZDSUhNMG9nS0VJQ0FnTUNvbmE2REhREAE,5,sandi ariyadi,https://www.google.com/maps/reviews/data=!4m8!...,Front liner nya ramah...tempat bersih makanan ...,2025-04-19T06:39:55.229Z,5.0,5.0,5.0
3,Solaria - Lampung City Mall,"Jl. Yos Sudarso No.44, Tlk. Betung, Kec. Bumi ...",https://www.google.com/maps/search/?api=1&quer...,ChZDSUhNMG9nS0VJQ0FnTURJbTh5X05nEAE,2,Jhonny Sanjaya,https://www.google.com/maps/reviews/data=!4m8!...,"Tolong untuk crew dapur / Chefnya , saya beli ...",2025-04-13T06:24:40.622Z,4.0,1.0,3.0
4,Solaria - Lampung City Mall,"Jl. Yos Sudarso No.44, Tlk. Betung, Kec. Bumi ...",https://www.google.com/maps/search/?api=1&quer...,ChdDSUhNMG9nS0VJQ0FnTUNJdzR1ODNnRRAB,3,Daryono Wardoyo,https://www.google.com/maps/reviews/data=!4m8!...,"makan bareng ma keluarga kebagian pas di luar,...",2025-04-04T09:15:40.488Z,NaN,NaN,NaN

Jumlah baris data: 54124

##### **Cek & Hapus Duplikat**
Bagian ini bertujuan untuk memeriksa apakah terdapat data duplikat pada dataset. Data duplikat dapat menyebabkan bias atau hasil analisis yang tidak akurat. Jika ditemukan, data duplikat akan dihapus agar data yang digunakan untuk analisis benar-benar unik dan representatif.

In [16]:
# Cek & Hapus Duplikat Berdasarkan Kolom 'reviewId'
# Pastikan kolom 'reviewId' ada di DataFrame
if 'reviewId' in df.columns:
    jumlah_duplikat = df.duplicated(subset='reviewId').sum()
    print(f"Jumlah data duplikat berdasarkan 'reviewId': {jumlah_duplikat}")

    # Hapus duplikat dan simpan ke df
    df = df.drop_duplicates(subset='reviewId', keep='first')
    print(f"Jumlah data setelah menghapus duplikat: {len(df)}")
else:
    print("Kolom 'reviewId' tidak ditemukan pada DataFrame.")

Jumlah data duplikat berdasarkan 'reviewId': 4500
Jumlah data setelah menghapus duplikat: 49624

##### Cek & Tangani Missing Value
Bagian ini bertujuan untuk memeriksa apakah terdapat data yang hilang (missing value) pada dataset. Data yang hilang dapat mempengaruhi hasil analisis dan modeling, sehingga perlu diidentifikasi dan ditangani dengan tepat. Proses ini meliputi pengecekan jumlah missing value di setiap kolom serta strategi penanganannya, seperti menghapus baris/kolom yang memiliki banyak missing value atau mengisi nilai yang hilang dengan metode tertentu (imputasi).

Cek Missing Value

In [17]:
# Cek jumlah missing value pada setiap kolom
missing_values = df.isnull().sum()
print("Jumlah missing value per kolom:")
print(missing_values)

Jumlah missing value per kolom:
title                               0
address                             0
url                                 0
reviewId                            0
stars                               0
name                                0
reviewUrl                           0
text                            27207
publishedAtDate                     0
reviewDetailedRating/Layanan    16228
reviewDetailedRating/Makanan    16285
reviewDetailedRating/Suasana    16645
dtype: int64

Missing Value pada Kolom text diabaikan

Missing Value pada Kolom reviewDetailedRating/Layanan, reviewDetailedRating/Makanan, reviewDetailedRating/Suasana diisi dengan nilai stars

In [19]:
# Imputasi missing value pada kolom rating detail dengan nilai dari kolom 'stars'
cols_to_fill = [
    'reviewDetailedRating/Layanan',
    'reviewDetailedRating/Makanan',
    'reviewDetailedRating/Suasana'
]

for col in cols_to_fill:
    df[col] = df[col].fillna(df['stars'])

print("Imputasi missing value pada kolom rating detail dengan nilai dari kolom 'stars' selesai.")

Imputasi missing value pada kolom rating detail dengan nilai dari kolom 'stars' selesai.

##### Feature Engineering
Pada tahap feature engineering, kita akan membuat fitur-fitur baru atau memodifikasi fitur yang sudah ada untuk meningkatkan kualitas data sebelum digunakan dalam analisis atau pemodelan. 

Feature engineering yang dilakukan antara lain: 
- Mengubah isi tanggal review (publishedAtDate) yang awalnya seperti 2025-05-29T03:10:20.007Z menjadi 2025-05-29
- Membuat fitur panjang teks review (textLength) dari text review (text)

Proses ini bertujuan agar data lebih informatif dan relevan untuk analisis selanjutnya.

In [21]:
# Feature Engineering

# 1. Ubah format tanggal 'publishedAtDate' menjadi hanya tanggal (YYYY-MM-DD)
df['publishedAtDate'] = pd.to_datetime(df['publishedAtDate']).dt.date

# 2. Buat fitur panjang teks review (textLength)
df['textLength'] = df['text'].fillna('').apply(len)

# Tampilkan 5 baris pertama hasil feature engineering
display(df[['publishedAtDate', 'text', 'textLength']].head())

,publishedAtDate,text,textLength
0,2025-05-29,Pu Yung hai rasanya kaya bakwan dikasih saos a...,57
1,2025-04-22,Makan disini beberapa menu makananya sangat en...,591
2,2025-04-19,Front liner nya ramah...tempat bersih makanan ...,76
3,2025-04-13,"Tolong untuk crew dapur / Chefnya , saya beli ...",260
4,2025-04-04,"makan bareng ma keluarga kebagian pas di luar,...",152


##### Filter Data

Bagian ini digunakan untuk melakukan filter data sesuai kriteria tertentu : 
- Review yang dibutuhkan hanya review 1 tahun terakhir (gunakan kolom "publishedAtDate").
- Cek setiap tempat (title) memiliki berapa banyak review.
- Sesuaikan nama kolom agar lebih mudah dipahami.

Filter data bertujuan untuk memastikan hanya data yang sesuai dan berkualitas yang digunakan pada tahap selanjutnya, sehingga hasil analisis menjadi lebih akurat dan fokus pada permasalahan yang ingin dikaji.

Review yang dibutuhkan hanya review 1 tahun terakhir (gunakan kolom "publishedAtDate")

In [23]:
# Filter review 1 tahun terakhir berdasarkan kolom 'publishedAtDate'
from datetime import datetime, timedelta

# Pastikan kolom 'publishedAtDate' sudah bertipe datetime.date
if df['publishedAtDate'].dtype != 'O':
    # Sudah bertipe date
    today = datetime.today().date()
else:
    # Konversi ke datetime.date
    df['publishedAtDate'] = pd.to_datetime(df['publishedAtDate']).dt.date
    today = datetime.today().date()

# Ambil tanggal 1 tahun yang lalu dari hari ini
one_year_ago = today - timedelta(days=365)

# Filter data
df = df[df['publishedAtDate'] >= one_year_ago]

print(f"Jumlah review 1 tahun terakhir: {len(df)}")

Jumlah review 1 tahun terakhir: 37625

- Cek setiap tempat (title) memiliki berapa banyak review
- Sesuaikan nama kolom agar lebih mudah dipahami.


##### Bersihkan Data Teks

Hilangkan karakter aneh, whitespace, dan normalisasi teks pada kolom review.
Validasi Data Lokasi
Pastikan data lokasi (latitude, longitude) valid dan masuk akal.